.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    background-color: var(--primary-red);
}
  
.header {
    font-size: 4rem;
    font-family: var(--font-display);
    text-align: center;
    color: var(--off-yellow);
}
  
.subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
  
.subHeader {
    font-size: 3rem;
    font-family: var(--font-display);
    color: var(--off-yellow);
    text-align: left;
    margin-left: 0;
    margin-top: 1rem;
}

.caption {
    font-family: var(--font-normal);
    color: var(--off-yellow);
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.button {
    /* padding: 0.75rem 1.5rem; */
    padding: 0.1em 0.8rem;
    background-color: #e4b8a5;
    color: #b83f3b;
    font-family: var(--font-display);
    font-size: 2.5rem;
    border: 3px solid var(--off-yellow);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}
  
.button:hover {
    background-color: #f7e7b5;
    transform: translateY(-2px);
}
  
.button:active {
    transform: scale(0.98);
}