.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--primary-red);
}

.header {
  font-size: 4rem;
  font-family: var(--font-display);
  text-align: center;
  color: var(--off-yellow);
}

.subsection {
  width: 100%;
}

.subHeader {
  font-size: 3rem;
  font-family: var(--font-display);
  color: var(--off-yellow);
  text-align: left;
  margin-top: 1rem;
}

.separator {
  color: var(--off-yellow);
  background-color: var(--off-yellow);
  height: 3px;
  border: none;
  margin: 1rem 0;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  border: 2px solid var(--off-yellow);
  border-radius: 12px;
  padding: 1.5rem;
  width: 300px;
  background-color: var(--off-yellow);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  font-family: var(--font-display);
  color: var(--primary-red);
  margin-bottom: 0.5rem;
}

.card p {
  font-family: var(--font-normal);
  color: var(--primary-red);
  font-size: 1.1rem;
}

.card a {
  color: var(--primary-blue);
  text-decoration: underline;
  font-weight: bold;
  font-size: 1rem;
}

.card button {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  align-self: flex-end;
  margin-left: 0.5rem;
  color: var(--primary-red);
}

.button {
    /* padding: 0.75rem 1.5rem; */
    padding: 0.1em 0.8rem;
    background-color: #e4b8a5;
    color: #b83f3b;
    font-family: var(--font-display);
    font-size: 1.5rem;
    border: 3px solid var(--off-yellow);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}
  
.button:hover {
    background-color: #f7e7b5;
    transform: translateY(-2px);
}
  
.button:active {
    transform: scale(0.98);
}

.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}

.pageBtn,
.activePage {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid var(--off-yellow);
  color: var(--off-yellow);
  cursor: pointer;
  font-family: var(--font-display);
}

.activePage {
  background-color: var(--off-yellow);
  color: var(--primary-red);
}
