.carousel {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carouselImage {
    /* object-fit: cover;
    border-radius: 1rem;  
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
    transform-origin: center; 
    object-position: center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; */
}

.carouselImage {
  transition: filter 0.3s ease;
}
.carouselImageContainer:hover .carouselImage {
  filter: brightness(1.05) contrast(1.1);
}

.carouselButton {
    background-color: #6a8ac3;
    color: white;
    border: none;
    padding: 1rem 1.5rem;  
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.8rem;    
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 1rem;
    position: absolute; 
    z-index: 20;
}

/* Add new classes for buttons */
.carouselButton.prev {
    left: -70px; /* Position left button */
}

.carouselButton.next {
    right: -70px; /* Position right button */
}

.carouselButton:hover {
    background-color: #5272a8;
    transform: scale(1.1);
}

.carouselButton:active {
    transform: scale(0.95);
}

.indicators {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
    width: 60px;
    height: 12px;
    border-radius: 10%;
    background-color: #ccc;
    cursor: pointer;
}

.activeDot {
    background-color: #6a8ac3;
}

.imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

@media (max-width: 1440px) {
    .carousel {
        margin-left: -4rem; /* Less extreme shift for smaller screens */
        transform: none;
    }
}

@media (max-width: 1024px) {
    .carousel {
        margin-right: 0; 
        margin-left: -2rem;
        transform: none;
    }
    .carouselImageContainer {
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .carouselImageContainer {
        width: 500px;
        height: 350px;
    }
    .carousel {
        margin: 2rem auto; /* Center on mobile */
        transform: none;
    }
}

@media (max-width: 480px) {
    .carouselImageContainer {
        width: 300px;
        height: 200px;
    }
}

@media (min-width: 1440px) {
    .carouselImageContainer {
        width: min(800px, 70vw); /* Increased size for larger screens */
        height: min(600px, 50vw);
    }
}
